{% extends 'base.html' %}

{% block title %}
  <title>NetGen - {{ game.name }}</title>
{% endblock %}

{% block content %}
  <div class="game-details-wrapper">
    <h1>{{ game.name }}</h1>
    <i>{{ game.about }}</i>
    <p>
      <b>Платформа :</b> {{ game.platform }}
    </p>
    <p>
      <b>Дата добавление :</b> {{ game.added_date }}
    </p>
    <div class="CRUD-operations">
      <a class="bordered-btn blue" href="{% url 'update-game' game.id %}">Изменить</a>
      <a class="bordered-btn red" href="#" onclick="openModalWindow('{{ game.id }}')">Удалить</a>
    </div>
    <div class="modal-window-bg">
      <div class="modal-window">
        <p>Вы действительнно хотите удалить эту игру?</p>
        <div class="yes-or-no">
          <button class="bordered-btn green" onclick="confirmDeletion()">Да</button> <button class="bordered-btn red" onclick="closeModalWindow()">Нет</button>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
    <script>
      const modalWindowBg = document.querySelector('.modal-window-bg')
      var currentGameID = null
      modalWindowBg.style.display = 'none'
      function openModalWindow(gameID) {
        modalWindowBg.style.display = 'flex'
        currentGameID = gameID
        console.log('Hello world')
      }
      
      function closeModalWindow() {
        modalWindowBg.style.display = 'none'
      }
      function confirmDeletion() {
        let url = '{% url "delete_game" 99999999 %}'
        url = url.replace('99999999', currentGameID)
        location.href = url
        closeModalWindow()
      }
    </script>
  {% endblock %}
{% endblock %}
