{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>NetGen - Tap to Earn</title>
{% endblock %}
{% block content %}
  <div class="games-wrapper">
    <button class="bordered-btn"><a href="{% url 'add-game' %}">Добавить Игру</a></button>
    <div class="games-container">
      {% for obj in games %}
        <div class="game n-{{ obj.game.id }} coin-card">
          <div class="icon" style="border: 2px solid {{ obj.game.primary_color|default:'#ffffff' }}; box-shadow:2px 5px 10px {{ obj.game.primary_color|default:'#ffffff' }};">
            <button class="prev bordered-btn"><</button>
            <div class="images">
              {% for img in obj.images %}
                <img src="{{ img.image.url }}" class="{{ forloop.counter }}" width="100px" alt="" />
              {% endfor %}
            </div>
            <button class="next bordered-btn">></button>
          </div>
          <h1 class="name">{{ obj.game.name }}</h1>
          <i>{{ obj.game.about }}</i>
          <p>
            <b>Платформа :</b> {{ obj.game.platform }}
          </p>
          <p>
            <b>Дата добавление :</b> {{ obj.game.added_date }}
          </p>
          <a href="{{ obj.game.link }}" class="bordered-btn violet">Играть</a>
          <div class="CRUD-operations">
            <a class="bordered-btn blue" href="{% url 'update-game' obj.game.id %}">Изменить</a>
            <a class="bordered-btn green" href="{% url 'details-game' obj.game.id %}">Посмотреть</a>
            <a class="bordered-btn red" href="#" onclick="openModalWindow('{{ obj.game.id }}')">Удалить</a>
          </div>
        </div>
      {% endfor %}
      <div class="modal-window-bg">
        <div class="modal-window">
          <p>Вы действительнно хотите удалить эту игру?</p>
          <div class="yes-or-no">
            <button class="bordered-btn green" onclick="confirmDeletion()">Да</button> <button class="bordered-btn red" onclick="closeModalWindow()">Нет</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
    <script>
      const modalWindowBg = document.querySelector('.modal-window-bg')
      const games = document.querySelectorAll('.game');

      games.forEach(game => {
          const images = game.querySelectorAll('.images img');
          const prev = game.querySelector('.prev');
          const next = game.querySelector('.next'); 
          let currentIndex = 0; // Индекс текущего изображения, начинаем с 0
      
          prev.addEventListener('click', () => {
              if (currentIndex > 0) {
                  currentIndex--;
                  updateImage();
              }
          });
      
          next.addEventListener('click', () => {
              if (currentIndex < images.length - 1) {
                  currentIndex++;
                  updateImage();
              }
          });
      
          function updateImage() {
              // Убираем класс 'current' у всех изображений в текущем блоке
              images.forEach((image, index) => {
                  if (index === currentIndex) {
                      image.classList.add('current');
                  } else {
                      image.classList.remove('current');
                  }
              });
          }
      
          updateImage(); // Вызываем для установки начального изображения
      });
      var currentGameID = null
      modalWindowBg.style.display = 'none'
      function openModalWindow(gameID) {
        modalWindowBg.style.display = 'flex'
        currentGameID = gameID
        console.log('Hello world')
      }
      function closeModalWindow() {
        modalWindowBg.style.display = 'none'
      }
      function confirmDeletion() {
        let url = '{% url "delete_game" 99999999 %}'
        url = url.replace('99999999', currentGameID)
        location.href = url
        closeModalWindow()
      }
    </script>
  {% endblock %}
{% endblock %}
