@import './settings';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

a, button{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent !important;
}
%bordered-btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #00000000;
    &.violet{
        border: 2px solid $light-violet;
        color: $light-violet;
    }
    &.green{
        border: 2px solid $green;
        color: $green;
    }
    &.red{
        border: 2px solid $red;
        color: $red;
    }
}
%glow-btn{
    background: $glow-gradient;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--gradient-light, rgba(255, 255, 255, 0.47));

}
%coin-card{
    border-radius: 10px;
    background-color: $dark-blue;
    padding: 20px; 
    color: #fff;
} 

%glass-input{
    padding: 10px 20px;
    background-color: #4d9e9d4f;
    border-radius: 10px;
    border: 2px solid #84f7f542;
    outline: none;
    backdrop-filter: blur(10px);
}