@import './settings';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

a, button{
    text-decoration: none;
    cursor: pointer;
}
.bordered-btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.glow-btn{
    background: $glow-gradient;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--gradient-light, rgba(255, 255, 255, 0.47));

}