@use './resets.scss';
@import './settings.scss';

body {
    width: 100%;
    background-color: #000;
    position: relative;

    * {
        .bordered-btn {
            @extend %bordered-btn;
            background-color: #00000000;

        }

        .glow-btn {
            @extend %glow-btn;
        }

        .coin-card {
            @extend %coin-card;
        }
    }

    .container {
        width: 85%;
        /* Используйте 100% для ширины */
        min-height: 100vh;
        margin: 0 auto;
        height: auto;
    }
    .custom-toast {
        background-image: url("{% static 'images/message_bg.jpg' %}");
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }          
    .glowing-spot {
        position: absolute;
        z-index: -1;

        &.n-1 {
            top: 0;
            left: 0;

        }
    }
}