{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>NetGen - Tap to Earn</title>
{% endblock %}
{% block content %}
  <div class="games-wrapper">
    <button class="bordered-btn"><a href="{% url 'add-game' %}">Добавить Игру</a></button>
    <div class="games-container">
      {% for obj in games %}
        <div class="game n-{{ obj.game.id }} coin-card">
          <div class="icon">
            <div class="image">
              <img src="{{ obj.images.0.image.url }}" alt="" />
              <img class="bg" src="{{ obj.images.0.image.url }}" alt="" />
            </div>
          </div>
          <div class="body">
            <h1 class="name">{{ obj.game.name }}</h1>
            <i>{{ obj.game.about }}</i>
            <p>
              <b>Платформа :</b> {{ obj.game.platform }}
            </p>
            <p>
              <b>Дата добавление :</b> {{ obj.game.added_date }}
            </p>
            <p>
              <b>Автор :</b> {{ obj.game.author_of_post }}
            </p>
            <a href="{{ obj.game.link }}" class="bordered-btn violet">Играть</a>
            <div class="CRUD-operations">
              {% if request.user.username == obj.game.author_of_post.username %}
                <a class="bordered-btn blue" href="{% url 'update-game' obj.game.id %}">Изменить</a>
              {% endif %}
              <a class="bordered-btn green" href="{% url 'details-game' obj.game.id %}">Посмотреть</a>
              {% if request.user.username == obj.game.author_of_post.username %}
                <a class="bordered-btn red" href="#" onclick="openModalWindow('{{ obj.game.id }}')">Удалить</a>
              {% endif %}
              <div class="favorites">
                {% if request.user.username != obj.game.author_of_post.username %}
                  {% if obj.game.id not in favorites %}
                    <a class="btn-link like" href="{% url 'add_to_favorites' obj.game.id %}"><i class="bi bi-bookmark"></i></a>
                  {% else %}
                    <a class="btn-link dislike" href="{% url 'remove_from_favorites' obj.game.id %}"><i class="bi bi-bookmark-fill"></i></a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="modal-window-bg">
        <div class="modal-window">
          <p>Вы действительнно хотите удалить эту игру?</p>
          <div class="yes-or-no">
            <button class="bordered-btn green" onclick="confirmDeletion()">Да</button> <button class="bordered-btn red" onclick="closeModalWindow()">Нет</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
    <script>
      const modalWindowBg = document.querySelector('.modal-window-bg')
      const games = document.querySelectorAll('.game')
      
      var currentGameID = null
      modalWindowBg.style.display = 'none'
      function openModalWindow(gameID) {
        modalWindowBg.style.display = 'flex'
        currentGameID = gameID
        console.log('Hello world')
      }
      function closeModalWindow() {
        modalWindowBg.style.display = 'none'
      }
      function confirmDeletion() {
        let url = '{% url "delete_game" 99999999 %}'
        url = url.replace('99999999', currentGameID)
        location.href = url
        closeModalWindow()
      }
    </script>
  {% endblock %}
{% endblock %}
