@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent !important;
}

option {
  color: #fff;
  background-color: black;
}

::-moz-selection {
  background: rgba(37, 163, 163, 0.568627451);
  color: white;
}

::selection {
  background: rgba(37, 163, 163, 0.568627451);
  color: white;
}

::-moz-selection {
  background: rgba(37, 163, 163, 0.568627451);
  color: white;
}

.auth-wrapper .bordered-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
}
.auth-wrapper .violet.bordered-btn {
  border: 2px solid #B982FF;
  color: #B982FF;
}
.auth-wrapper .green.bordered-btn {
  border: 2px solid #16bf9c;
  color: #16bf9c;
}
.auth-wrapper .red.bordered-btn {
  border: 2px solid #fc4a22;
  color: #fc4a22;
}
.auth-wrapper .blue.bordered-btn {
  border: 2px solid #18C8FF;
  color: #18C8FF;
}

.auth-wrapper .glow-btn {
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
}

.auth-wrapper {
  background: url("/static/images/bg.webp"), no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-wrapper .bordered-btn {
  background-color: rgba(0, 0, 0, 0);
}
.auth-wrapper .auth-container {
  padding: 20px 50px;
  /* From https://css.glass */
  background: rgba(43, 0, 83, 0.365);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(141, 103, 176, 0.45);
  width: 500px;
  min-height: 500px;
  height: auto;
  border-radius: 20px;
  position: relative;
}
.auth-wrapper .auth-container .login-container {
  height: auto;
  position: relative;
}
.auth-wrapper .auth-container .login-container .image {
  position: absolute;
  width: 100%;
  top: -200px;
  left: 0;
  display: flex;
  justify-content: center;
}
.auth-wrapper .auth-container .login-container .image img {
  width: 200px;
}
.auth-wrapper .auth-container .login-container h2 {
  margin: 10px 0;
  margin-top: 70px;
}
.auth-wrapper .auth-container .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  height: auto;
}
.auth-wrapper .auth-container .login-container form p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.auth-wrapper .auth-container .login-container form p input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #0e0820;
  border-radius: 10px;
}
.auth-wrapper .auth-container .login-container form p:nth-child(4) {
  flex-direction: row;
  gap: 20px;
}
.auth-wrapper .auth-container .login-container form p:nth-child(4) label {
  display: block;
}
.auth-wrapper .auth-container .login-container form p label {
  display: none;
}
.auth-wrapper .auth-container .login-container form .social-accounts {
  display: flex;
  gap: 20px;
}
.auth-wrapper .auth-container .login-container form .btns {
  margin-top: 30%;
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.auth-wrapper .auth-container .login-container form .btns button,
.auth-wrapper .auth-container .login-container form .btns a {
  width: 45%;
  text-align: center;
}
.auth-wrapper .auth-container .signup-container {
  height: auto;
  position: relative;
}
.auth-wrapper .auth-container .signup-container .image {
  position: absolute;
  width: 100%;
  top: -200px;
  left: 0;
  display: flex;
  justify-content: center;
}
.auth-wrapper .auth-container .signup-container .image img {
  width: 200px;
}
.auth-wrapper .auth-container .signup-container h2 {
  margin: 10px 0;
  margin-top: 70px;
}
.auth-wrapper .auth-container .signup-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
  margin-top: 20px;
  height: auto;
}
.auth-wrapper .auth-container .signup-container form ul {
  display: none !important;
}
.auth-wrapper .auth-container .signup-container form p {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auth-wrapper .auth-container .signup-container form p input {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #0e0820;
  border-radius: 10px;
}
.auth-wrapper .auth-container .signup-container form p label {
  display: none;
}
.auth-wrapper .auth-container .signup-container form p:nth-child(6) {
  display: none;
}
.auth-wrapper .auth-container .signup-container form p span {
  display: none;
}
.auth-wrapper .auth-container .signup-container form .btns {
  display: flex;
  height: 40px;
  justify-content: space-between;
}
.auth-wrapper .auth-container .signup-container form .btns button,
.auth-wrapper .auth-container .signup-container form .btns a {
  width: 45%;
  text-align: center;
}/*# sourceMappingURL=index.css.map */