{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>NetGen</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static '/scss/navbar/index.css' %}" />
    <link rel="stylesheet" href="{% static '/scss/index.css' %}" />
    
    {% block css %}
    {% endblock %}

</head>
<body>
    <div class="container">
        <div class="navigation-container">
            {% include "navbar.html" %}
        </div>
        <div class="body-container">
            {% block content %}
            <p>Base</p>
            {% endblock content %}
        </div>
    </div>
</body>
</html>