{% load static %}

<header>
    <nav>
        <div class="left">
            <a href="{% url "home" %}">
                <img src="{% static 'images/logo.png'%}" alt="">
            </a>
        </div>
        <div class="middle">
            <a href="#">Монеты</a>
            <a href="#">Популярные</a>
            <a href="#">Маркет</a>
            <a href="#">Контакты</a>
            <a href="#">Мой кабинет</a>
        </div>
        <div class="right">
            <a href="#" class="bordered-btn">
                Sign in
            </a>
            <a href="#" class="glow-btn">
                Sign up
            </a>
        </div>
    </nav>
</header>