{% load static %}

<header>
    <nav>
        <div class="left">
            <a href="{% url "home" %}">
                <img src="{% static 'images/logo.png'%}" alt="">
            </a>
        </div>
        {% with request.resolver_match.url_name as url_name %}
        <div class="middle">
            <a href="{% url "coins" %}"  class="{% if url_name == 'coins' %}active{% endif %}">Монеты</a>
            <a href="{% url "tap-to-earn" %}" class="{% if url_name == 'tap-to-earn' %}active{% endif %}">Tap-to-Earn</a>
            <a href="{% url "market" %}" class="{% if url_name == 'market' %}active{% endif %}">Маркет</a>
            <a href="{% url "contacts" %}" class="{% if url_name == 'contacts' %}active{% endif %}">Контакты</a>
            <a href="{% url "dashboard" %}" class="{% if url_name == 'dashboard' %}active{% endif %}">Мой кабинет</a>
        </div>
        {% endwith %}
        <div class="right">
            <a href="#" class="bordered-btn">
                Sign in
            </a>
            <a href="#" class="glow-btn">
                Sign up
            </a>
        </div>
    </nav>
</header>