{% extends "./auth.html" %}
{% load account %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="image">
        <img src="{% static 'images/astronaut.png' %}" alt="">
    </div>
    <h2>Добро пожаловать в NetGen👾!</h2>
    <form method="POST" action="{% url 'account_login' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btns">
          <button type="submit" class="glow-btn">Sign in</button><a class="bordered-btn violet" href="{% url "account_signup" %}">Sign up</a>
      </div>
    </form>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}