{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'scss/account/profile.css' %}">
</head>
<body>
    <div class="profile-wrapper">
        <img class="glow n-1" src="{% static 'images/glowing-spot.png' %}" alt="">
        <img class="glow n-2" src="{% static 'images/glowing-spot-2.png' %}" alt="">
        <img class="glow n-3" src="{% static 'images/sphere.png' %}" alt="">  
        <div class="profile-container">
            
       </div>
    </div>
</body>
</html>