{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
        NetGen - Home
    </title>
{% endblock %}

{% block content %}
  <div class="home-container">
    <div class="info">
      <p class="title">
        Мы делаем крипту <br /> <span>понятной<img src="{% static 'images/glass.png' %}" class="glass-circle" alt=""></span> и простой 
      </p>
      <p class="about">Создавайте, покупайте и развивайте свою криптовалюту с помощью CoinFlip, платформы, предназначенной для каждого трейдера на любом уровне. </p>
      <button class="glow-btn"><a href="{% url 'account_signup' %}">Начать</a></button>
    </div>

    <img class="circles" src="{% static 'images/circles.png' %}" alt="">
  </div>
{% endblock %}
