@use '../resets.scss';
@import '../settings.scss';

header {
    width: 100%;
    height: 80px;

    nav {
        display: flex;

        height: inherit;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            a {
                img {
                    width: 110px;
                }
            }
        }

        .middle {
            display: flex;
            gap: 30px;

            a {
                &.active {
                    color: #5ec2b0;
                    text-shadow:
                        0 0 10px rgba(94, 194, 176, .7),
                        0 0 10px rgba(94, 194, 176, .7),
                        0 0 10px rgba(94, 194, 176, .7);
                }

            }

        }

        .right {
            display: flex;
            gap: 20px;
        }
    }
}