{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
        NetGen - {{home}}
    </title>
{% endblock %}

{% block content %}
  <div class="home-container">
    <div class="info">
      <p class="title">
        {{we_doing_crypto}} <br /> <span>{{understandable}}<img src="{% static 'images/glass.png' %}" class="glass-circle" alt=""></span> {{and_simple}} 
      </p>
      <p class="about">{{subtitle}}</p>
      {% if not request.user.is_authenticated %}
      <button class="glow-btn"><a href="{% url 'account_signup' %}">{{get_started}}</a></button>
      {% endif %}
    </div>

    <img class="circles" src="{% static 'images/circles.png' %}" alt="">
  </div>
{% endblock %}
